@()
@defining(play.core.PlayVersion.current) { version =>
<h3>Table of Contents</h3>
<ul>
  <li><a href="@routes.HomeController.index">Men's World Ranking</a>
  <li><a href="@routes.HomeController.women">Women's World Ranking</a>
  <li><a href="@routes.HomeController.toplist">Play hello world steps</a>
</ul>
<h3>External Resources</h3>
<ul>
  <li><a href="https://www.worldathletics.org/disciplines/throws/hammer-throw" target="_blank">World Athletics (Hammer Throw)</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Hammer_throw" target="_blank">Wiki (HT)</a></li>
</ul>
}